<% layout('layouts/boilerplate')%>

<h1>New Center</h1>
    <form action="/centers" method="POST">
        <label for="name">NAME of Center</label>
        <input type="text" name="name" id="name" placeholder=" name">
        <label for="contact"> Contact</label>
        <input type="number" name="contact" id="contact" placeholder="00">
        

        <button>SUBMIT</button>
    </form>