<% layout('layouts/boilerplate')%>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Logged Out</h5>
    <p class="card-text">You have successfully logged out</p>
    <a href="\" class="btn btn-primary">Home page</a>
    <a href="\centers" class="btn btn-primary">All Centers</a>
  </div>
</div>